@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Red Hat Text", sans-serif;
}

@layer components {
  .card {
    @apply lg:scale-125 sm:w-[7.5rem] sm:h-28 shadow-md shadow-slate-950 max-w-full w-[4.5rem] h-16 flex flex-col justify-center items-center relative text-4xl after:absolute after:inset-0 after:w-full after:bg-[rgb(var(--neutral-light-blue),0.7)] after:h-3/6 after:rounded-xl before:absolute before:bottom-0 before:left-0 before:w-full before:bg-[rgb(var(--neutral-light-blue))] before:h-3/6 before:rounded-xl before:-z-10 after:-z-10;
  }
}

@layer base {
  :root {
    --primary-blue: 132, 134, 169;
    --primary-red: 251, 96, 135;
    --neutral-light-blue: 52, 54, 80;
    --neutral-dark-blue: 30, 31, 41;
    --neutral-very-dark-blue: 25, 26, 36;
  }
}

body {
  color: white;
  background-image: url("../public/images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-color: hsl(235, 16%, 14%);
  background-position: bottom right;
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width > 648px) {
  body {
    background-size: contain;
  }
}

#root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../public/images/bg-stars.svg");
  background-repeat: repeat;
}
